body {
  background-color: #272727;
}

h1 {
  font-size: 4em;
  letter-spacing: 8;
  border-bottom: 2px solid white;
}

.container {
  width: 600px;
  margin: 100px auto;
}
.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}
